<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>WeMan Connect Blog</title>
		<link rel="stylesheet" href="./index.css" />
		<script type="text/javascript">
			function dibuja() {
				let cont = document.getElementById('cont_comentarios');
				for (let i = 0; i < 100; i++) {
					let nvoComment = '<div class="comentario" id="com'+i+'">'+
			'<div class="comentario_hdr">'+
				'<h3 id="titulo_'+i+'">' + 'Comentario ' + i +'</h3>'+
				'<p id="autor">'+i+'</p>'+
			'</div>'+
			`<div id="contenido" class="comentario_cont">${i}</div>`+
			'<img src="./ejemplo.jpg" alt="imagen de ejemplo" />'+
		'</div>';
					cont.innerHTML += nvoComment;
				}
			}
			function inicia() {
				dibuja();
			}
		</script>
	</head>
	<body onload="inicia()">
		<!-- Encabezado general -->
		<!-- Contiene un ícono, una barra de título y espacio para dos íconos del lado derecho -->
		<!-- navegación -->
		<nav>
			<img src="./icono-default.png" />
			<h1>WeMan Connect Blog</h1>
			<div class="hdr_tools">
				<a href="#" onclick="login('param1', 'param2')"><li>Publicar</li></a>
				<a href="#"><li>Entrar</li></a>
		</nav>
		<!-- /navegación -->
		<!-- Luego hay un contenedor grande donde van las publicaciones -->
		<section id="cont_comentarios"></section>
		<!-- La publicación la haría en un script que se repita varias veces como demo -->

		<!-- Falta el separador de firmado -->

		<!-- Podría añadir aquí el separador o div para la publicación nueva... -->

	</body>
</html>