<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Langind_page</title>
    <link rel="stylesheet" href="stylesheets.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="index.js"></script>
  </head>
  <body onload="leerPublicaciones()">
      <header>
        <div class="container" id="header">
          <nav id="menu">
            <span id="logo_weman"><img src="./images/gato_logo.png" alt="logo de gato"></span>
            <span id="title"><h1>Weman Connect</h1></span>
            <div id="logo_user">
              <span><img src="./images/user_logo.png" alt="logo de usuario generico"></span>
            </div>
          </nav>
        </div>
      </header>
      <section id="notices">

      </section>



  </body>
</html>
