<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Usuario firmado</title>
    <link rel="stylesheet" href="stylesheets.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  </head>
  <body>
      <header>
        <div class="container" id="header">
          <nav id="menu">
            <span id="logo_weman"><img src="./images/gato_logo.png" alt="logo de gato"></span>
            <span id="title"><h1>Weman Connect</h1></span>
            <div id="logo_user">
              <span><img src="./images/share.png" alt="icono share"></span>
              <span><img src="./images/user_logo.png" alt="logo de usuario generico"></span>
            </div>
          </nav>
        </div>
      </header>
      <div class="new-entry">
        <table>
          <tr>
            <thead colspan="4">
              <p  class="title-new-entry">Publicar entrada nueva</p>  
            </thead>
          </tr>
          <tr>
            <td colspan="3"><input type="text" name="title-entry" value="" placeholder="Titulo de la entrada"></td>
            <td><button type="button" name="button-new-entry" class="button-new-entry">Publicar</button> </td>
          </tr>
          <tr>
            <td colspan="3"><textarea name="text-new-entry" class="text-new-entry" rows="8" cols="80" placeholder="Contenido"></textarea> </td>
            <td class="upload-image">
              <i class="fa fa-camera fa-2x"></i><br>
              <input type="file" name="upload-image" value="">
            </td>
          </tr>
        </table>
      </div>
      <section>
          <div class="entry-notice" id=el1 >
            <div class="title-date">
              <h2 class="title-notice">Entrada de noticias</h2>
              <p class="date"> ##:## 31/12/2010</p>
            </div>
          <div  class="image-notice">
            <img src="./images/img1.png" alt="Una imagen">
          </div>
          <div class="text-notice">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do <span class="resaltado"><strong>eiusmod</strong></span> tempor incididunt ut<br>
               labore et dolore magna aliqua. Consectetur adipiscing elit duis tristique sollicitudin nibh sit amet.<br>
               Diam phasellus vestibulum lorem sed risus ultricies tristique nulla.<br>
            </p>
          </div>
          <div class="auth-notice">
          <p>Autor del Post</p>
        </div>
        </div>
        <div class="entry-notice" id=el2>
          <div class="title-date">
            <h2 class="title-notice">Entrada de noticias</h2>
            <p class="date"> ##:## 31/12/2010</p>
          </div>
        <div  class="image-notice">
          <img src="./images/img1.png" alt="Una imagen">
        </div>
        <div class="text-notice">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do <span class="resaltado"><strong>eiusmod</strong></span> tempor incididunt ut<br>
             labore et dolore magna aliqua. Consectetur adipiscing elit duis tristique sollicitudin nibh sit amet.<br>
             Diam phasellus vestibulum lorem sed risus ultricies tristique nulla.<br>
          </p>
        </div>
        <div class="auth-notice">
        <p>Autor del Post</p>
      </div>
      </div>
      <div class="entry-notice" id=el3>
        <div class="title-date">
          <h2 class="title-notice">Entrada de noticias</h2>
          <p class="date"> ##:## 31/12/2010</p>
        </div>
      <div  class="image-notice">
        <img src="./images/img1.png" alt="Una imagen">
      </div>
      <div class="text-notice">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do <span class="resaltado"><strong>eiusmod</strong></span> tempor incididunt ut<br>
           labore et dolore magna aliqua. Consectetur adipiscing elit duis tristique sollicitudin nibh sit amet.<br>
           Diam phasellus vestibulum lorem sed risus ultricies tristique nulla.<br>
        </p>
      </div>
      <p class="auth-notice">Autor del Post</p>
    </div>
    <div class="entry-notice" id=el4>
      <div class="title-date">
        <h2 class="title-notice">Entrada de noticias</h2>
        <p class="date"> ##:## 31/12/2010</p>
      </div>
    <div  class="image-notice">
      <img src="./images/img1.png" alt="Una imagen">
    </div>
    <div class="text-notice">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do <span class="resaltado"><strong>eiusmod</strong></span> tempor incididunt ut<br>
         labore et dolore magna aliqua. Consectetur adipiscing elit duis tristique sollicitudin nibh sit amet.<br>
         Diam phasellus vestibulum lorem sed risus ultricies tristique nulla.<br>
      </p>
    </div>
    <p class="auth-notice">Autor del Post</p>
  </div>
      </section>



  </body>
</html>
